*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body, html {
    min-height: 100vh;
    /*width: 100%;*/
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9dd', endColorstr='#002400',GradientType=1 );*/
    height: 100%;
    background: #000000;
}

.points {
    flex: 0 1 auto;
    color: #ccc;
    line-height: 20px;
    margin-bottom: 10px;
}

.board {
    background: #000000;
    width: 500px;
    height: 450px;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.game-name {
    display: flex;
    justify-content: space-around;
}

.game-main-text {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.dashboard-current-level, .dashboard-current-score, .dashboard-current-time {
    display: flex;
}

.current-level, .current-score, .current-time {
    padding-left: 10px;
}

.current-level-text, .current-score-text, .current-time-text {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.current-score, .current-level, .current-time {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.dashboard-settings {
    padding-top: 20px;
}

.dashboard-game-level {
    width: 400px;
    background: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    /*-webkit-appearance: none;*/
    -moz-appearance : none;
    padding: 0px 3px;
}

.dashboard-game-start {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.game-start-button {
    width: 200px;
    height: 50px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.game-start-button:hover {
    border: 1px solid #6b6b6b;
    transition: 1s;
}

.game-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    width: 500px;
}

.box, .spell-key {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.game-container {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.game-box {
    display: flex;
}

.nav-bar {
    padding-top: 20px;
    padding-bottom: 70px;
}

.navigation-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-item {
    padding-left: 15px;
    list-style-type: none;
}

.nav-item-link {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s;
}

.nav-item-link:hover {
    color: #888888;
    transition: 1s;
    text-decoration: none;
}

.box {
    background: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 5px 10px 0 black;
    border-radius: 20px;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: none no-repeat center center;
    background-size: cover;
    cursor: default;
}

.box.cold {
    background-image: url(../images/cold-snap-icon.png);
}

.box.ghost {
    background-image: url(../images/ghost-walk-icon.png);
}

.box.tornado {
    background-image: url(../images/tornado-icon.png);
}

.box.emp {
    background-image: url(../images/emp-icon.png);
}

.box.alacrity {
    background-image: url(../images/alacrity-icon.png);
}

.box.blast {
    background-image: url(../images/deafening-blast-icon.png);
}

.box.meteor {
    background-image: url(../images/chaos-meteor-icon.png);
}

.box.wall {
    background-image: url(../images/ice-wall-icon.png);
}

.box.spirit {
    background-image: url(../images/forge-spirit-icon.png);
}

.box.sun {
    background-image: url(../images/sun-strike-icon.png); }

.game-spells {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.game-spells .normal {
    display: flex;
    justify-content: flex-start;
}

.spell-key {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: none no-repeat center center rgba(255, 255, 255, 0.3);
    background-size: cover;
    cursor: default;
    opacity: 0.9;
}

.game-spells .Q {
    background-image: url(../images/quas-icon.png);
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.5);
}

.game-spells .W {
    background-image: url(../images/wex-icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 0, 255, 0.5);
}

.game-spells .E {
    background-image: url(../images/exort-icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
}

.game-spells .invoke {
    opacity: 0.5;
    background-image: url(../images/invoke-button-icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
}